body {
    font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;    
    margin: 0;
    background-color:#EFF3F8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
    color: gray; 
  }
  